.piePage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    
    text-align: center
}

.pieChart {
    margin-top: 50px;
    width: 50%;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;    
    width: 95%;
}
.itemText {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.data {   
   
    
    height: 90px;
    width: 50%;
}
.history{
    height: 150px;
    background-color: rgb(201, 67, 67);
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    padding: 10px;

}
/* .inputForm {
    background-color: #fff;
    width: 100%;
    height: 150px;
    /* padding: 12px;
}  */


.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.inputData {
    margin-left: 5px;
}
