
.piePage{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title {
    color: #7c7a7a;
    text-align: center
}

.pieChart {
    margin-top: 50px;
    width: 50%;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;    
    width: 95%;
    


    color: #262626;
    font-size: 18px;
    line-height: 26px; 
    border-bottom: 1px solid #cfcdcd;
}
.itemForm {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.itemText {
    width: 200px;
}
.itemValue {
    width: 80px;
}

.history{
    height: 250px;
    /* background-color: rgb(201, 67, 67); */
    max-width: 400px;
    width: 100%;
    margin-bottom: 50px;
    overflow: auto;
    padding: 10px;    
}

.input {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    width: 400px;
   
}
.inputForm{
    display: flex;
    flex-direction: column;
}
.inputData {
    color: #595959;
    font-size: 16px;
    line-height: 24px;

    margin-bottom: 10px;
}
.inputButton {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #838282 inset, 0 0 0 0 #838282;   
  letter-spacing: 2px;
  color: white;
  transition: .15s ease-in-out;
  cursor: pointer;
}
.inputButton:hover {
    box-shadow: 0 0 10px 0 #838282 inset, 0 0 10px 4px #838282;
    color: #838282;
    
}
.historyTotal{
    display: flex;
    align-items: center;
    width: 45%;
}
.historyTotalText {
    width: 350px;
    margin-left: 20px;
    color: #5e5d5d;
}
.titleTotal {
    color: #7c7a7a;
    text-align: center;
    margin-bottom: 75px;
}

