.piePage{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputForm {
    background-color: #fff;
    width: 500px;
    height: 150px;
    padding: 12px;
}
.input {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.pieChart {
    width: 500px;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 50%;
}
